.navbar {
  width: 100%;
  background: rgba(5, 7, 8, 0.7);
  padding: 12px 20px;
  display: flex;
  justify-content: space-evenly; /* Space between nav items and avatar */
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}
img{
  position: relative;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.navbar ul li a {
  color: #5ed1ff; /* Light blue */
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar ul li a:hover {
  color: #2aaeff; /* Brighter blue */
  transform: translateY(-3px);
}

.navbar ul li a.active {
  color: #2aaeff; /* Active link color */
  font-weight: bold;
}

.avatar-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  right: 0;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #2aaeff;
  transition: transform 0.3s ease;
  
}

.user-avatar:hover {
  transform: scale(1.1);
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 10px;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .avatar-container {
    margin-left: 0;
  }
}
